# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore generated model files
models/

# Ignore data files that are too large or contain sensitive information
data/person_of_interest/*.zip
data/person_of_interest/*.rar
data/person_of_interest/private/
data/person_of_interest/processed/

# Ignore all text files in season folders
data/person_of_interest/*/[^/]*.txt

# Ignore temporary files and caches
*.log
*.cache
*.swp

# Ignore system files and directories
.DS_Store
Thumbs.db
